<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dadi590.ps3proxyserverforandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_principal_antigo_sem_bordas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone_principal_antigo_sem_bordas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Creditos"></activity>
        <activity android:name=".Definicoes" />
        <activity android:name=".Creditos_iniciais" />
        <activity android:name=".Reinicializador_Principal" />

        <service
            android:name=".Servico"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:enabled="true" android:name=".RecetorInicializacao">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>